@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

body{
    min-width: 450px;
    font-family: 'Century Gothic', 'Futura', cursive;
    font-size: 12px;
    line-height: 0.9;
}

#header{
    z-index: 1;
}

h3{
   text-align: center;
}

.Count{
    color: #009900;
   align-content: center;
    font-size: large;
}

.Logo{
    opacity: 0.5;
}

.Footnote{
    color:#8c8c8c;
}

.Footnote-smaller{
    color:#8c8c8c;
    font-size: 10px;
    text-align: center;
}

.Left-span{
    min-width: 180px;
    max-width: 180px;
    float: left;
    z-index: 10;
    text-align: center;
}

.Right{
    text-align: right;
}

.Center{
    text-align: center;
}

#treeCount{
    color: #009900;
    font-size: 16px;
}

.Links{
    font-size: 10px;
}

a{
    color: #006600;
}

.icon {
    width: auto;
    height: 30px;
    background-color: white;
}

.icon:hover {
    cursor: pointer;
    border: 1px solid #000000;
}

#cameo{
    position: absolute;
    background-color: white;
    opacity: 0.7;
    width: 450px;
    height: 0px;
    top: 70px;
    left: 180px;
    transition: height 1s linear;
}

#emission-span{
    z-index: 100;
    padding: 5px 0;
}

a:hover{
    color: #00cc00;
}

#iconsArea {
    display: flex;
    justify-content: space-around;
}

.selected {
    background-color: #DDDDDD;
}